.contact-form-container {
  position: relative;
  width: 80%;
  form{
    position: absolute;
    @include form($secondary, $secondary, 4rem);
    @include box-shadow(2rem, 2rem)
  }
}

.comment-form-container{
  form{
  @include form($primary, $primary, 0);
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
