.contact-form-container {
  position: relative;
  width: 100%;
  form{
    position: absolute;
    top: -10rem;
    right: 2rem;
    @include form($secondary, $secondary, 4%);
    @include box-shadow(2rem, 2rem);
 }
}

.comment-form-container{
  form{
  @include form($primary, $primary, 4%);
  }

  input,
  textarea{
    margin: 2rem 0;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
