.blog{
    background-color: $primary;
    @include flex(flex, row, auto, auto);
    border: 1px solid green;
}

.contact{
    background-color: $primary;
    @include flex(flex, auto, auto, auto);
}

.contact-page{
    background: $primary;
}