.blog-section{
  width: 70%;
}

.blog-post{
  position: relative;
  padding-top: 45rem;
}

.blog-post-image{
  position: absolute;
  top: -20rem;
}

.blog-post {
  border: 8px solid $hilight;
  border-right: none;
  border-top: none;
    img {
      @include box-shadow(-2rem, 2rem);
    }
  }
