h3{
  @include secondary(auto, auto);
}

.comment{
  @include flex(flex, auto, auto, auto);
  padding: 2rem 0;
  div:first-child{
    width: 10%;
  }
  div:last-child{
    margin-left: 2rem;
    width: calc(90% - 2rem);
  }
}


