.mission{
    flex: 1 0 calc(30%);
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    // width: 10%;
}

.mission-content{
    margin-top: 10rem;
    padding: 40rem 0 2rem 2rem;
    background-color: $secondary;
    z-index: 0;
    width: 40rem;
}

.mission-image{
    border: 5px solid red;
    position: absolute;
    left: -18%;
    top: 3%;
}


.mission-content ul{
    display: inline;
}

// CAN'T GET LIST STYLE TYPE TO WORK
.mission-content ul li{
    @include secondary(inherit, inherit);
    padding: 1rem;
    list-style-type: circle;
}

.mission-content ul li::before{
    color: $hilight;
}

.mission h2{
    @include headings(2.5rem, 4rem, auto);
    // padding-top: 40rem;

}
