@mixin headings($font-size, $line-height, $letter-spacing){
    font-family: "Walter Turncoat", cursive;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $primary-text;
}

@mixin secondary($line-height, $font-weight){
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    line-height: $line-height;
    font-weight: $font-weight;
    letter-spacing: 1px;
    color:  $primary-text;
}

@mixin icons{
    font-size: 2rem;
    color: $secondary;
    background-color: $hilight;
    padding: 1.5rem;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin form($background-colour){
    display: flex;
    flex-direction: column;
    background-color: $background-colour;
}

@mixin flex($flex, $direction, $justify, $align-items){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align-items;
}