$primary: #03697C;
$secondary: #474BB5;
$primary-text: #F3FAFF;
$secondary-text: #044799;
$hilight: #08FDED;

$home-header-image: url(../../../assets/home-header.jpg);

$blog-header-image: url(../../../assets/blog-header.jpg);

$contact-header-image: url(../../../assets/contact-header.jpg);
