// MISSION ASIDE
.mission{
    flex: 1 0 calc(30% - 12%);
    margin-left: 5%;
    margin-right: 7%;
    position: relative;
}

.mission-content{
    margin-top: 20%;
    padding: 100% 2rem 4rem 2rem;
    background-color: $secondary;
    z-index: 0;
    width: 100%;
}

.mission-image{
    position: absolute;
    left: -21%;
    top: 3%;
    bottom: 0;
    width: 110%;
}


.mission-content-list{
    list-style: circle;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

}

// CAN'T GET LIST STYLE TYPE TO WORK
.mission-content ul li{
    @include secondary(inherit, inherit);
    padding: .5rem;
    @include flex(flex, row, center, center)
}

.mission-content-list li::before{
    content: "\2022";
    color: $hilight;
    padding-right: 1rem;
}

.mission h2{
    @include headings(2.5rem, 4rem, auto);
    // padding-top: 40rem;

}

// BLOG-POST
.blog-header{
  @include header-image(blog-header);
}

.blog-section{
  width: 58%;
}

.blog-post{
  position: relative;
  padding: 50% 0 10%;
}

.blog-post-image{
  position: absolute;
  top: -20rem;
  right: 0;
  width: calc(100% - 12px)
}

.blog-post {
  border: 8px solid $hilight;
  border-right: none;
  border-top: none;
    img {
      @include box-shadow(-20px, 20px);
    }
  }

  h3{
  @include secondary(auto, auto);
}

// COMMENTS
.comment{
  @include flex(flex, auto, auto, auto);
  padding: 2rem 0;
  div:first-child{
    width: 10%;
  }
  div:last-child{
    margin-left: 2rem;
    width: calc(90% - 2rem);
  }
}

