.contact-header{
    @include header-image(contact-header);
}

.contact-aside {
    margin: 10% 5% 10% 0;
    width: calc(42% - 5%);
}

.address{
    @include secondary(2.8rem, 0.1rem);
    font-style: normal;
 }

 .social-icons li i{
     font-size: 2.8rem;
     padding: 1rem;
 }


