.events{
    @include flex(flex, row, space-between, center);
    padding: 8rem 0;
    // IMAGE AND WRITTEN CONTENT
    div:nth-child(1){
       @include box-shadow(-20px, 20px);
        flex: 1 0 30%;
        margin-left: 2rem;
    }
    div:nth-child(2){
        margin-left: 6%;
    }
    
}
