// PROGRAMS AND LOCATIONS CONTAINER
.programs-and-location {
  @include flex(flex, row, space-between, auto);
  padding: 3rem 0;
  position: relative;
  // INDIVIDUAL PROGRAMS AND LOCATIONS DIVS
    div {
        // TARGET BOTH IMAGES
        img {
        position: absolute;
        width: 50%;
        }
        // TARGET INDIVIDUALLY
        .programs-img {
        // !!!!!!!ASK ABOUT BOX SHADOW
        @include box-shadow(5rem, 5rem);
        top: -5.5rem;
        left: -138px;
        }
        .locations-img {
        @include box-shadow(-5rem, 5rem);
        right: -134px;
        bottom: -2.5rem;
        }
    }
    .programs,
    .locations {
            width: 40%;
    }
    .locations {
    @include flex(flex, column, auto, flex-end);
    text-align: right;
    padding-top: 5rem;
    }
}
