// THIS DOESN'T DO ANYTHING YET REMOVE IF NOT NEEDED!!!!
// .outer-wrapper{
//     max-width: 1600px;
//     width: 100%;
//     margin: 0 auto;
// }

.wrapper{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

a{
    display: inline-block;
}