// VARIABLES
$primary: #03697C;
$secondary: #474BB5;
$primary-text: #F3FAFF;
$secondary-text: #044799;
$hilight: #08FDED;

$home-header-image: url(../../../assets/images/home-header.jpg);

$blog-header-image: url(../../../assets/images/blog-header.jpg);

$contact-header-image: url(../../../assets/images/contact-header.jpg);

// MIXINS
@mixin prog-and-loc-wrapper($margin){
   max-width: 600px;
    width: 100%;
    margin-#{$margin}: 0;
}

@mixin header-image($image){
  background-image: url(../assets/images/#{$image}.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

@mixin headings($font-size, $line-height, $letter-spacing) {
  font-family: "Walter Turncoat", cursive;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $primary-text;
  padding: 0.5rem 0;
}

@mixin secondary($line-height, $font-weight) {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: $line-height;
  font-weight: $font-weight;
  letter-spacing: 1px;
  color: $primary-text;
}

@mixin icons {
  font-size: 2rem;
  color: $secondary;
  background-color: $hilight;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($flex, $direction, $justify, $align-items) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align-items;
}

@mixin box-shadow($horizontal-offset, $vertical-offset) {
  box-shadow: $horizontal-offset $vertical-offset 0 $hilight;
}

@mixin form($background-colour, $padding) {
  background: $background-colour;
  padding: $padding;

}
