html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
h1,
h2,
h3,
h4,
img {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

html {
  font-size: 63.5%;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.blog-wrapper {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

a {
  display: inline-block;
}

main {
  background-color: #03697C;
}

.background-a {
  background-color: #03697C;
}

.background-b {
  background-color: #474BB5;
}

h1 {
  font-family: "Walter Turncoat", cursive;
  font-size: 14.52rem;
  line-height: auto;
  letter-spacing: auto;
  color: #F3FAFF;
  padding: 0.5rem 0;
}

h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 4.5rem;
  line-height: 9.98rem;
  letter-spacing: auto;
  color: #F3FAFF;
  padding: 0.5rem 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #F3FAFF;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.read-more,
button {
  font-family: "Walter Turncoat", cursive;
  background-color: #08FDED;
  color: #044799;
  font-size: 2.45rem;
  text-align: center;
  font-weight: 400;
  line-height: 4.16rem;
  margin: 3rem 0;
  padding: .6rem 1.4rem;
}

header {
  background: url(../assets/home-header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

header h1 {
  margin-bottom: 20rem;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  position: relative;
  height: 100vh;
}

.header-container div {
  position: absolute;
  right: -136px;
  top: 32rem;
  width: 56%;
}

ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  display: inline-block;
}

ul li a {
  display: inline-block;
  padding: 2rem 2rem 2rem 0;
}

ul li a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

footer {
  background-color: #044799;
  text-align: center;
  padding: 1.5rem;
}

.contact-form-container {
  position: relative;
  width: 80%;
}

.contact-form-container form {
  position: absolute;
  display: -ms-grid;
  display: grid;
  background-color: #474BB5;
  top: -20rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 4rem;
  padding: 6rem;
  -webkit-box-shadow: 2rem 2rem 0 #08FDED;
          box-shadow: 2rem 2rem 0 #08FDED;
}

.contact-form-container form input,
.contact-form-container form textarea {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #F3FAFF;
  background: #474BB5;
  margin: 2rem;
}

.contact-form-container form input {
  border: none;
  border-bottom: 1px solid #F3FAFF;
  height: 50px;
  background: #474BB5;
}

.contact-form-container form .message {
  grid-column: 1 / -1;
  border: 1px solid #F3FAFF;
  height: 300px;
  padding: 4rem 0 0 4rem;
  resize: none;
}

.contact-form-container form input::-webkit-input-placeholder,
.contact-form-container form textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.contact-form-container form input:-ms-input-placeholder,
.contact-form-container form textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.contact-form-container form input::-ms-input-placeholder,
.contact-form-container form textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.contact-form-container form input::placeholder,
.contact-form-container form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.contact-form-container form button {
  grid-column: 1 / -1;
  margin: 0 2rem 2rem;
  border: none;
}

.comment-form-container form {
  display: -ms-grid;
  display: grid;
  background-color: #03697C;
  top: -20rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0;
  padding: 6rem;
}

.comment-form-container form input,
.comment-form-container form textarea {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #F3FAFF;
  background: #03697C;
  margin: 2rem;
}

.comment-form-container form input {
  border: none;
  border-bottom: 1px solid #F3FAFF;
  height: 50px;
  background: #03697C;
}

.comment-form-container form .message {
  grid-column: 1 / -1;
  border: 1px solid #F3FAFF;
  height: 300px;
  padding: 4rem 0 0 4rem;
  resize: none;
}

.comment-form-container form input::-webkit-input-placeholder,
.comment-form-container form textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.comment-form-container form input:-ms-input-placeholder,
.comment-form-container form textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.comment-form-container form input::-ms-input-placeholder,
.comment-form-container form textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.comment-form-container form input::placeholder,
.comment-form-container form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.comment-form-container form button {
  grid-column: 1 / -1;
  margin: 0 2rem 2rem;
  border: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.blog {
  background-color: #03697C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.contact {
  background-color: #03697C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.contact-page {
  background: #03697C;
}

.programs-and-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  padding: 3rem 0;
  position: relative;
}

.programs-and-location div img {
  position: absolute;
  width: 50%;
}

.programs-and-location div .programs-img {
  -webkit-box-shadow: 5rem 5rem 0 #08FDED;
          box-shadow: 5rem 5rem 0 #08FDED;
  top: -5.5rem;
  left: -138px;
}

.programs-and-location div .locations-img {
  -webkit-box-shadow: -5rem 5rem 0 #08FDED;
          box-shadow: -5rem 5rem 0 #08FDED;
  right: -134px;
  bottom: -2.5rem;
}

.programs-and-location .programs,
.programs-and-location .locations {
  width: 40%;
}

.programs-and-location .locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  padding-top: 5rem;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20rem 0 12rem;
}

.card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding-bottom: 2rem;
}

.card-container .card div:first-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 3.6rem 2rem;
  height: 100%;
}

.card-container .card div:first-child i {
  font-size: 2rem;
  color: #474BB5;
  background-color: #08FDED;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.road-trip {
  text-align: center;
}

.road-trip .wrapper div {
  padding: 6rem 0 3rem;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 0;
}

.events div:nth-child(1) {
  -webkit-box-shadow: -20px 20px 0 #08FDED;
          box-shadow: -20px 20px 0 #08FDED;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  margin-left: 2rem;
}

.events div:nth-child(2) {
  margin-left: 6%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  padding: 8rem 0;
}

.gallery li:nth-child(2) {
  margin: 0 5rem;
}

aside {
  margin: 10rem auto 50rem 0;
}

.address {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 0.1rem;
  letter-spacing: 1px;
  color: #F3FAFF;
  font-style: normal;
}

.social-icons li i {
  font-size: 2.8rem;
}

.mission {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(30%);
          flex: 1 0 calc(30%);
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

.mission-content {
  margin-top: 10rem;
  padding: 40rem 0 2rem 2rem;
  background-color: #474BB5;
  z-index: 0;
  width: 40rem;
}

.mission-image {
  border: 5px solid red;
  position: absolute;
  left: -18%;
  top: 3%;
}

.mission-content ul {
  display: inline;
}

.mission-content ul li {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: 1px;
  color: #F3FAFF;
  padding: 1rem;
  list-style-type: circle;
}

.mission-content ul li::before {
  color: #08FDED;
}

.mission h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: auto;
  color: #F3FAFF;
  padding: 0.5rem 0;
}

.blog-section {
  width: 70%;
}

.blog-post {
  position: relative;
  padding-top: 45rem;
}

.blog-post-image {
  position: absolute;
  top: -20rem;
}

.blog-post {
  border: 8px solid #08FDED;
  border-right: none;
  border-top: none;
}

.blog-post img {
  -webkit-box-shadow: -2rem 2rem 0 #08FDED;
          box-shadow: -2rem 2rem 0 #08FDED;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  padding: 2rem 0;
}

.comment div:first-child {
  width: 10%;
}

.comment div:last-child {
  margin-left: 2rem;
  width: calc(90% - 2rem);
}
