html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
h1,
h2,
h3,
h4,
img {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
}

html {
  font-size: 63.5%;
}

img,
.wrapper,
.blog-wrapper {
  width: 100%;
}

.wrapper,
.blog-wrapper {
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
}

.blog-wrapper {
  max-width: 650px;
}

body {
  background-color: #03697C;
}

.read-more,
button {
  font-family: "Walter Turncoat", cursive;
  background-color: #08FDED;
  color: #044799;
  font-size: 2.45rem;
  text-align: center;
  font-weight: 400;
  line-height: 4.16rem;
  margin: 3rem 0;
  padding: .6rem 1.4rem;
}

h1 {
  font-family: "Walter Turncoat", cursive;
  font-size: 14.52rem;
  line-height: auto;
  letter-spacing: auto;
  color: #F3FAFF;
  padding: 0.5rem 0;
}

.alt-heading-size {
  font-family: "Walter Turncoat", cursive;
  font-size: 12.5rem;
  line-height: 12.56rem;
  letter-spacing: auto;
  color: #F3FAFF;
  padding: 0.5rem 0;
}

h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 4.5rem;
  line-height: 9.98rem;
  letter-spacing: auto;
  color: #F3FAFF;
  padding: 0.5rem 0;
}

.programs-and-location h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 1.3px;
  color: #F3FAFF;
  padding: 0.5rem 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #F3FAFF;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #F3FAFF;
}

header {
  background-image: url(../assets/home-header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
  margin-bottom: 20rem;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.home-box-image {
  bottom: -20rem;
  width: 42%;
}

ul {
  width: 40%;
}

ul li {
  display: inline-block;
  padding: 0.5rem 0;
}

ul li a {
  padding: 1rem 0;
  border-bottom: 4px solid transparent;
}

ul li a:hover {
  border-bottom: 4px solid #08FDED;
}

input[type="checkbox"],
label[for="toggle"] i {
  display: none;
}

header,
.header-container {
  height: 100vh;
}

ul,
.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container,
.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.alt-background,
.mission-content {
  background-color: #474BB5;
}

ul,
.card {
  padding-bottom: 2rem;
}

.programs-and-location,
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

li,
.programs-and-location,
.mission,
.blog-post,
.contact-form-container {
  position: relative;
}

.road-trip,
ul li,
footer {
  text-align: center;
}

.events div:nth-child(1),
.blog-post img {
  -webkit-box-shadow: -20px 20px 0 #08FDED;
          box-shadow: -20px 20px 0 #08FDED;
}

.events div:nth-child(1),
.comment div:last-child {
  margin-left: 2rem;
}

form,
ul li a:hover,
.gallery,
.mission-content,
.mission-content-list,
.contact-form-container {
  width: 100%;
}

.events,
.gallery {
  padding: 8rem 0;
}

.contact,
.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-box-image,
.programs-img,
.locations-img,
.mission-image,
.blog-post-image,
.contact-form-container form {
  position: absolute;
}

.card,
.mission-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-box-image,
.locations-img,
.blog-post-image {
  right: 0;
}

.social-icons li i,
footer {
  padding: 1rem;
}

.programs-img {
  -webkit-box-shadow: 2rem 2rem 0 #08FDED;
          box-shadow: 2rem 2rem 0 #08FDED;
}

.card-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20rem 0 12rem;
}

.card-container .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.card-container .card div:first-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 3.6rem 2rem;
  height: 100%;
}

.card i {
  font-size: 2rem;
  color: #474BB5;
  background-color: #08FDED;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programs-and-location {
  padding: 3rem 0;
}

.programs-and-location img {
  width: 43%;
}

.programs-and-location .programs-img {
  bottom: 5rem;
}

.programs-and-location .locations-img {
  -webkit-box-shadow: -2rem 2rem 0 #08FDED;
          box-shadow: -2rem 2rem 0 #08FDED;
  top: 5rem;
}

.programs-and-location .programs,
.programs-and-location .locations {
  width: 45%;
}

.programs-and-location .prog-wrapper {
  max-width: 600px;
  width: 100%;
  margin-left: 0;
}

.programs-and-location .locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  padding-top: 5rem;
}

.programs-and-location .locations .loc-wrapper {
  max-width: 600px;
  width: 100%;
  margin-right: 0;
}

.road-trip .wrapper div {
  padding: 6rem 0 3rem;
}

.events div:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.events div:nth-child(2) {
  margin-left: 6%;
}

.gallery li:nth-child(2) {
  margin: 0 5rem;
}

.blog-header {
  background-image: url(../assets/blog-header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.mission {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(30% - 12%);
          flex: 1 0 calc(30% - 12%);
  margin-left: 5%;
  margin-right: 7%;
}

.mission-content {
  margin-top: 20%;
  padding: 100% 2rem 4rem 2rem;
  z-index: 0;
}

.mission-image {
  left: -21%;
  top: 2%;
  bottom: 0;
  width: 110%;
}

.mission-content-list {
  list-style: circle;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mission-content ul li {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: 1px;
  color: #F3FAFF;
  padding: 0.5rem;
}

.mission-content-list li::before {
  content: "\2022";
  color: #08FDED;
  padding-right: 1rem;
}

.mission h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: auto;
  color: #F3FAFF;
  padding: 0.5rem 0;
}

.blog-section {
  width: 58%;
}

.blog-post {
  padding: 50% 0 10%;
}

.blog-post-image {
  top: -20rem;
  width: calc(100% - 12px);
}

.blog-post {
  border: 8px solid #08FDED;
  border-right: none;
  border-top: none;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.comment {
  padding: 2rem 0;
}

.comment div:first-child {
  width: 10%;
}

.comment div:last-child {
  width: calc(90% - 2rem);
}

.contact-header {
  background-image: url(../assets/contact-header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.contact-aside {
  margin: 10% 5% 20% 0;
  width: calc(42% - 5%);
}

.address {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 0.1rem;
  letter-spacing: 1px;
  color: #F3FAFF;
  font-style: normal;
}

.social-icons li i {
  font-size: 2.8rem;
}

.contact-form-container form {
  top: -10rem;
  right: 2rem;
  background: #474BB5;
  padding: 4%;
}

.comment-form-container form {
  background: #03697C;
  padding: 4%;
}

.comment-form-container input,
.comment-form-container textarea {
  background-color: #03697C;
  margin: 2rem 0;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

form input,
form button {
  border: none;
}

form input,
form textarea {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #F3FAFF;
  background: #474BB5;
  margin: 2rem;
}

form input {
  border-bottom: 1px solid #F3FAFF;
  height: 50px;
}

form .message {
  border: 1px solid #F3FAFF;
  height: 20rem;
  padding: 2rem 0 0 2rem;
  resize: none;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

form input::placeholder,
form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 1px;
  letter-spacing: 1px;
  color: #F3FAFF;
}

form .message,
form button {
  grid-column: 1 / -1;
}

form input,
form textarea,
form button {
  width: calc(100% - 4rem);
}

.contact-form {
  -webkit-box-shadow: 2rem 2rem 0 #08FDED;
          box-shadow: 2rem 2rem 0 #08FDED;
}

.contact-form-container button {
  margin: 0 2rem 2rem;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

footer {
  background-color: #044799;
}

@media (max-width: 1230px) {
  .wrapper {
    width: 90%;
  }
  .home-box-image {
    bottom: -15rem;
    width: 44%;
  }
  .blog-wrapper {
    width: 80%;
  }
  h1 {
    font-size: 10rem;
  }
  .alt-heading-size {
    font-size: 9.6rem;
  }
  h2,
  .programs-and-location h2 {
    font-size: 4rem;
  }
  p,
  a,
  .mission-content ul li,
  .address {
    font-size: 1.6rem;
  }
  .mission-image {
    width: 100%;
  }
  .mission {
    -ms-flex-preferred-size: calc(30% - 10%);
        flex-basis: calc(30% - 10%);
    margin-right: 5%;
  }
  .contact-form-container form {
    background: #474BB5;
    padding: 3%;
  }
}

@media (max-width: 940px) {
  .mission-image {
    width: 110%;
    top: 3rem;
  }
  input {
    grid-column: 1 / -1;
  }
}

@media (max-width: 768px) {
  .programs-and-location,
  .gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-header,
  .blog-header,
  .contact-header {
    background-position-x: 20%;
    background-position-y: top;
    height: 50rem;
  }
  ul.navbar,
  input[type="checkbox"]:checked + ul.navbar,
  ul.navbar a {
    display: inline-block;
  }
  ul.navbar,
  ul.navbar li,
  ul.navbar a,
  .mission-image,
  .blog-section,
  .contact-aside {
    width: 100%;
  }
  .card-container,
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-container {
    height: 0;
  }
  .home-box-image {
    bottom: 27%;
    width: 50%;
  }
  /* slide menu */
  ul.navbar {
    position: absolute;
    top: 10rem;
    right: -100%;
    background-color: #f4f4f4;
    z-index: 10;
    background-color: #474BB5;
  }
  ul.navbar li {
    padding: 0.5rem;
  }
  input[type="checkbox"]:checked + ul.navbar {
    right: 0;
  }
  ul.navbar a:hover {
    width: 20%;
  }
  label[for="toggle"] i {
    color: #f4f4f4;
    font-size: 5rem;
    z-index: 0;
    display: block;
  }
  label[for="toggle"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10rem;
  }
  h1,
  .alt-heading-size {
    font-size: 7rem;
    margin: 0;
  }
  h2,
  .programs-and-location h2 {
    font-size: 3rem;
  }
  .card-container {
    padding: 8rem 0 0;
  }
  .card-container .card div:first-child {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 6rem;
  }
  .card-container .card div:first-child i {
    font-size: 8rem;
    width: 12rem;
    height: 12rem;
  }
  .card div:last-child,
  .events div:last-child,
  .programs,
  .programs-and-location .locations {
    text-align: center;
  }
  .programs,
  .locations,
  .events div:last-child {
    margin: 0 auto;
  }
  .programs-and-location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .programs-and-location .programs-img,
  .programs-and-location .locations-img {
    position: static;
    margin: 4rem;
    width: calc(100% - 8rem);
    top: 0;
  }
  .programs-and-location .programs,
  .programs-and-location .locations {
    width: 80%;
  }
  .road-trip .wrapper div {
    padding: 0;
  }
  .full-span-image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 30rem;
  }
  .events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  ul.navbar,
  .gallery li:nth-child(2) {
    display: none;
  }
  .gallery li:first-child {
    margin-right: 4%;
  }
  .gallery li:last-child {
    margin-left: 4%;
  }
  .mission-image {
    top: 4rem;
    left: -6%;
  }
  .blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blog-section {
    margin-top: 26rem;
  }
  .blog-wrapper {
    width: 95%;
  }
  .blog-post {
    padding-top: 40%;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem;
  }
  .contact-form-container form {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contact-aside {
    margin: inherit 0;
  }
}

@media (max-width: 480px) {
  .home-box-image {
    width: 70%;
  }
  .gallery li:first-child {
    display: none;
  }
  .gallery li:last-child {
    margin: 0;
  }
}
